@model List<ResultModel>
@{
	Layout = null;
}


<!DOCTYPE html>
<html lang="en" class="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User Profile</title>

	<!-- Tailwind is included -->
	<link rel="stylesheet" href="~/css/main.css?v=1628755089081">
	<link rel="apple-touch-icon" sizes="180x180" href="~/img/BilgiÖlçer-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="~/img/BilgiÖlçer-icon.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="~/img/BilgiÖlçer-icon.png" />
	<link rel="mask-icon" href="safari-pinned-tab.svg" color="#00b4b6" />

	<meta name="description" content="Admin One - free Tailwind dashboard">

	<meta property="og:url" content="https://justboil.github.io/admin-one-tailwind/">
	<meta property="og:site_name" content="JustBoil.me">
	<meta property="og:title" content="Admin One HTML">
	<meta property="og:description" content="Admin One - free Tailwind dashboard">
	<meta property="og:image" content="https://justboil.me/images/one-tailwind/repository-preview-hi-res.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1920">
	<meta property="og:image:height" content="960">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:title" content="Admin One HTML">
	<meta property="twitter:description" content="Admin One - free Tailwind dashboard">
	<meta property="twitter:image:src" content="https://justboil.me/images/one-tailwind/repository-preview-hi-res.png">
	<meta property="twitter:image:width" content="1920">
	<meta property="twitter:image:height" content="960">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130795909-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-130795909-1');
	</script>

</head>
<body>

	<div id="app">

		<aside class="aside is-placed-left is-expanded">
			<div class="aside-tools">
				<div>
					<b class="font-black">@ViewData["Name"]</b>
				</div>
			</div>
		</aside>
		<section class="section main-section">
			<div class="card has-table">
				<header class="card-header">
					<p class="card-header-title">
						<span class="icon"><i class="mdi mdi-buffer"></i></span>
						Tests
					</p>
				</header>
				<div class="card-content">
					<table>
						<thead>
							<tr>
								<th class="image-cell"></th>
								<th>Ders</th>
								<th>Konu</th>
								<th>Doğru</th>
								<th>Yanlış</th>
								<th>Boş</th>
								<th>Başarı</th>
								<th>Tarih</th>
								<th></th>
							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model)
							{
								<tr>
									<td class="checkbox-cell">
										<label class="checkbox">
											<input type="checkbox">
											<span class="check"></span>
										</label>
									</td>
									<td>@item.Lesson</td>
									<td>@item.Subject</td>
									<td>@item.Correct</td>
									<td>@item.Incorrect</td>
									<td>@item.Empty</td>
									<td data-label="Progress" class="progress-cell">
										<progress max="100" value="79">79</progress>
									</td>
									<td class="actions-cell">
										<div class="buttons right nowrap">
											<button class="button small green --jb-modal" data-target="sample-modal-2" type="button">
												<span class="icon"><i class="mdi mdi-eye"></i></span>
											</button>
											<button class="button small red --jb-modal" data-target="sample-modal" type="button">
												<span class="icon"><i class="mdi mdi-trash-can"></i></span>
											</button>
										</div>
									</td>
								</tr>
							}


						</tbody>
					</table>
				</div>
			</div>

		</section>



		<div id="sample-modal" class="modal">
			<div class="modal-background --jb-modal-close"></div>
			<div class="modal-card">
				<header class="modal-card-head">
					<p class="modal-card-title">Sample modal</p>
				</header>
				<section class="modal-card-body">
					<p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
					<p>This is sample modal</p>
				</section>
				<footer class="modal-card-foot">
					<button class="button --jb-modal-close">Cancel</button>
					<button class="button red --jb-modal-close">Confirm</button>
				</footer>
			</div>
		</div>

	</div>

	<!-- Scripts below are for demo only -->
	<script type="text/javascript" src="js/main.min.js?v=1628755089081"></script>


	<script>
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return; n = f.fbq = function () {
				n.callMethod ?
				n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
			n.queue = []; t = b.createElement(e); t.async = !0;
			t.src = v; s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
			'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '658339141622648');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1" /></noscript>

	<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

</body>
</html>
